/* Add the black and green theme */
html,
body {
    background: black;
    color: #0F0;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Center the title vertically and horizontally */
#title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 36px;
}

